@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap: 100,200,300,400,500,600,700,800,900');

/*-----------------------------------Colors-------------------------*/
.bg-navbar-color {
    background-color: #272c2f;
}


/*-------------------------------Reusable Components----------------*/
/*------mintgreen-#98ff98;---------darkred-d#bf051e;----darkgrey-#272c2f*------ font-family: 'Barlow', sans-serif;--*/

.dark-red {
    color: #bf051e;
}

.darkgrey {
    color: #272c2f;
}

.mintgreen {
    color: #98ff98;
}

.uppercase {
    text-transform: uppercase;
}

p {
    font-family: 'Barlow', sans-serif;
    line-height: 1.7rem;

}

.hr-style {
    border-top: 2px solid#bf051e;
    width: 100px;
}

.red-stripe {
    position: fixed;
    background: #bf051e;
    height: 15px;
    width: 100vw;
    z-index: 1;
}

.below-navstripe {
    position: fixed;
}

.main-header {
    color: #fff;
    text-shadow: 0 0 13px rgba(0, 0, 0, .88);
}

.sub-header {
    font-size: 50px;
    color: #272c2f;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

/*-----------------------------------buttons-------------------------*/

.btn-cta {
    background-color: #bf051e;
    color: #fff;
    font-size: 100%;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: 900;
    padding: 0.6 1rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-cta:link,
.btn-cta:visited,
.btn-cta:hover,
.btn-cta:active {
    color: #f2f2f2;
    border-color: #98ff98;
}

.btn-callout {
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}

.btn-navbar {
    margin-top: 5px;
}

.btn-pricing {
    display: block;
    margin: 0 auto;
    background-color: #98ff98;
}

.btn-modal {
    margin-top: 7px;
}


/*-----------------------Images---------------------------------------*/
.img-navcollapse {
    width: 100%;
    height: 100%;
}

.about-img-div {
    text-align: center;
}

.about-img {
    height: 60%;
    width: 90%;
    margin-top: 1rem;
}

.priceplan-offer-img {
    width: 100%;
    height: 50%;
}

.offer-img {
    height: 50%;
    width: 70%;
}


/*-----------------------Navbar---------------------------------------*/

.navbar-expand-lg,
.container-fluid {
    padding: 0;
    border: 0;
}

.gym-logo {
    height: 50px;
    width: auto;
}

.nav-heading {

    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    color: #f2f2f2;
    font-weight: 500;
    text-transform: uppercase;

}

.navbar-nav {
    margin-bottom: 3px;
}

.navbar-nav .nav-item {
    font-family: 'Barlow', sans-serif;
    margin: 0px 8px;
}

.navbar-toggler {
    margin-right: 20px;
}


.navbar .navbar-nav .nav-link {
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.navbar .navbar-nav .nav-link:link,
.navbar .navbar-nav .nav-link:visited,
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:active {
    color: #f2f2f2;
    border-color: #98ff98;

}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
    color: #98ff98;
    border-color: #98ff98;
    text-decoration: underline;
    font-style: italic;

}

.navbar-toggler {
    background-color: #bf051e;
}

/*------------------------callout section--------------------------*/

.callout-container {

    height: 100vh;
    background: url('../Images/background-image-milestomeproject.jpg') no-repeat fixed;
    background-position-x: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbotron-gymname {
    font-family: 'Oswald', sans-serif;
    color: #e1e1e1;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.904);
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: 100px 0px 40px;
    font-weight: 900;
}

.jumbotron-quote {

    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    margin: 30px;

}

.jumbotron {
    background-color: transparent;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.offer-text {
    color: #98ff98;
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 30px;
}


/*-----------------------------------About section-------------------------*/

.about-section-container {
    border: 0;
    padding: 0;
}

.about-header {
    border: 16px solid #bf051e;
    margin-top: 20px;
    font-size: 45px;
}

.about-sub-header-two {
    margin-top: -90px;
    margin-bottom: 20px;
}

.about-sub-header-three {
    color: #98ff98;
    margin-top: -90px;
}

.about-text {
    font-size: 2rem;
    color: #212529;
    font-style: italic;
    line-height: 1.3em;
    font-weight: 600;

}

.about-text-info {
    display: block;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

/*----------------------Modal Contact Form-------------------------*/

.error {
    color: #bf051e;
}

/*--------pricing section-----------------------------------------*/

.pricing-header {
    border: 16px solid #272c2f;
    font-size: 35px;
}

.our-price-plans-div {
    padding: 0;
    border: 0;
}

section.pricing {
    border: 0;
    padding: 0;

}

.pricing .card {
    border: 6px solid#272c2f;
    border-radius: 1rem;
}

l,
ol,
ul {
    font-weight: 600;
}

.pricing hr {
    border-top: 2px solid #98ff98;
    margin: 1.5rem 0;

}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 700;
    color: #0f1215;
}

.pricing .card-price {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
    font-family: 'Barlow', sans-serif;
}

.pricing ul li {
    margin-bottom: 1rem;

}

.fa-li i {
    color: #98ff98
}

/*----------------------Trainers section---------------------------*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.team-container {


    background: url('../Images/daniel-apodaca-WdoQio6HPVA-unsplash.jpg') no-repeat fixed;
    background-position-x: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
}


.main-header-team-section {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.233);
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    border: 16px solid#bf051e;
    color: #fff;
    text-shadow: 0 0 13px rgba(0, 0, 0, .50);
}


.btn-primary:hover,
.btn-primary:focus {
    background-color: #57020d;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #bf051e;
    border-color: #bf051e;
}

.team-section {
    padding: 30px 0;
}

.backside .card-text {
    color: #fff;
    font-family: 'Barlow', sans-serif;
}


#team .card {
    border: 7px solid#bf051e;
    background: black;
}

.team-section .card-body {
    padding: 0;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #fff !important;
}

.social-icon i {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-icon i:hover {
    margin-bottom: 0;
    color: red;
}

.frontside .card .card-title,
.backside .card .card-title {
    font-family: "Barlow", sans-serif;
    color: #fff !important;
}

.frontside .card .card-body img {
    height: 212px;
    width: 100%;
}

/*------------------------------------------Media Quries--------------------*/



/*----------for small devices only------*/

@media(min-width:320px) and (max-width:566px) {
    .second-img-div {
        margin-bottom: -100px;
    }

}

/*----------for ipads------*/

@media(min-width:567px) and (max-width:991px) {
    .jumbotron-gymname {
        font-size: 3rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    .about-header {
        font-size: 100px;
        margin-top: 20px;
    }

    .sub-header {
        font-size: 80px;
    }

    .about-sub-header-two {
        font-size: 75px
    }

    .about-sub-header-three {
        font-size: 60px;
    }

    .pricing-header {
        font-size: 70px;
        margin-bottom: 20px;
    }

    .main-header-team-section {
        font-size: 130px;
    }


}

/*----------for ipad pro------*/

@media(min-width: 992px) and (max-width:1180px) {

    .jumbotron-gymname {
        font-size: 6rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }


    .about-header {
        margin-top: 20px;
        font-size: 130px;
    }

    .sub-header {
        font-size: 100px;
    }

    .about-sub-header-two {
        margin-top: -120px;

    }

    .about-sub-header-three {
        font-size: 80px;
    }

    .about-text {
        margin-top: 20px;
    }

    .pricing-header {
        margin: 20px 0;
        font-size: 100px;
    }

    .main-header-team-section {
        font-size: 200px;
    }
}

#last-list-item-second-priceplan {
    margin-bottom: 40px;
}

/*----------for desktops------*/

@media(min-width: 1200px) {

    .gym-logo {
        height: 80px;
        width: auto;
    }

    .navbar h2 {
        letter-spacing: 2px;
        font-size: 2.5rem;
    }


    .navbar-nav {
        margin-left: 100px;
    }

    .navbar-nav .nav-item {
        margin: 0px 10px;

    }

    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 160px;
    }

    .jumbotron-gymname {
        font-size: 4rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }


    .about-header {
        margin-top: 40px;
        font-size: 160px;
    }

    .sub-header {
        font-size: 140px;
    }

    .about-sub-header-two {
        font-size: 125px;

    }

    .about-sub-header-three {
        font-size: 95px;
        margin-top: -150px;
    }

    .about-img-div {
        margin-bottom: -50px;
    }

    .about-img-div-second {
        margin-top: 40px;

    }


    .pricing-header {
        font-size: 120px;
        margin-bottom: 40px;
    }

    #last-list-item-second-priceplan {
        margin-bottom: 64px;
    }

    #last-list-item-third-priceplan {
        margin-bottom: 39px;
    }

    .main-header-team-section {
        font-size: 200px;
    }

    .frontside .card .card-title,
    .backside .card .card-title {
        font-size: 30px;
    }
}