@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');
/* main body */

/* scroll behaviour smooth added to give smooth scrolling
 effect an overflow x added to deal with any unwanted over flow */
body,
html {
    font-size: 16px;
     /* overflow-x: hidden;  */
    scroll-behavior: smooth;
}

/* removing all margins and padding from bootsrap rows an cols */
.container-fluid,
.container,
.row {
    margin: 0;
    padding: 0;
}

/* end main body */

/* Colors */

.bg-navbar-color {
    background-color: #111111;
}

.about-section {
    background-color: #272c2f;
}

.gym-section-wrapper {
    background-color: #272c2f;
}

.pricing-wrapper {
    background-color: rgb(80, 88, 95);
}

.dark-red {
    color: #bf051e;
}

.darkgrey {
    color: #272c2f;
}

.mintgreen {
    color: #98ff98;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.light-grey {
    color: #8e8f8f;
}



/* end colors */

/* Reusable Components */

.uppercase {
    text-transform: uppercase;
}

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7rem;

}

.text-barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* reused for all divs giving redline effect */
.hr-style {
    margin: 0 auto;
    width: 80%;
    border-top: 0.25rem solid#bf051e;

}

/* reused for all main headers on sections */
.main-header {
    border: 1rem solid #bf051e;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 13px rgba(0, 0, 0, .88);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* reused for all sub headers on sections */
.sub-header {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 13px rgba(0, 0, 0, .88);
}

/* targeting padding in  modal body in facilities only */

.facilities  .modal-body {
    padding: 0;
}

/* end reusable Components */

/* icons  and socail links*/
.gym-section-logo i {
    font-size: 3.2rem;
    color: #bf051e;
}

/* adding transition timing effect to card  an footer social links  for a more subtle effect when hovered */
.modal-footer-gym-section i ,
.social-icon i ,
.social-icon-footer-links {
    color: #fff;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/* changing links to red when hovered */
.modal-footer-gym-section i:hover,
.social-icon i:hover {
    margin-bottom: 0;
    color: #bf051e;
}

/* adding green to ticks in pricing section card */
.fa-li i {
    color: #5a9a5a;
}
/* adding background color to the links on trainning section modal  */
.modal-footer-gym-section a {
    background-color: #8e8e8f;
border-radius: 50%;

}

/* carousel  for customer transformation  altered here */
.carousel-before-after i {
    font-size: 2.5rem;
    font-weight: 900;
}
/* targeting footer icons  */
.social-icon-footer-icon {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #bf051e;

}
/* targeting footer icon links on hover */
.social-icon-footer-links:hover{
color: grey;
}

/* buttons */
/*  button call to action */
.btn-cta {
    background-color: #bf051e;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 900;
    padding: 0.6rem 1.5rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/* buttons in hovered an active state */
.btn-cta:link,
.btn-cta:visited,
.btn-cta:hover,
.btn-cta:active {
    color: #f2f2f2;
    border-color: #98ff98;
}

/* used for callout section button */
.btn-callout {
    display: block;
    margin: 0 auto;
    margin-top: 1.25rem;

}

/* used for navbar section button  only*/
.btn-navbar {
    margin-top: 0.3rem;
}

/* used for navbar  pricing section  button  green color overrides red from btn cta*/
.btn-pricing {
    display: block;
    margin: 0 auto;
    background-color: #5a9a5a;
}

/* to stop btn in modal footer sticking to textbox */
.btn-modal {
    margin-top: 0.45rem;

}

/* overriding some of cta class here to make modal btn fit in to modal footer in traning section modal videos */
.modal-footer .btn {
    font-size: 0.5rem;
    padding: 0.4rem;
}

/* overriding btn-cta here to reduce footer btn size */
.btn-footer {
    padding: 0.5rem;
}

/* end buttons */

/* Navbar */
/* a border was added here to surround gym logo Image */
.gym-logo {
    margin-left: 0.55rem;
    border: 0.25rem solid#bf051e;
    border-radius: 0.125rem;
    height: 2.6rem;
    width: auto;
}

/* added for a fixed navbar dispaled over callout background z-index-2 
added to override carosel z-index from results section*/
.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* adding opacity here for mobile tablets and small tablets to make navbar blend 
with background call out image but still visable when scrolling page */
.navbar {
    background-color: black;
    opacity: 0.7;
}

.navbar-toggler {
    margin-right: 1.5rem;
}

/* targeting entire navbar links as a group */
.mynavlinks {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0rem 0.5rem;
}

/* targeting navbar links individually */
.nav-link {
    padding: 0.6rem;
    margin-top: 0.6rem;
    margin-left: 1.75rem;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

/* targeting navlinks turning text green when visited */
.nav-link:link,
.nav-link:visited {
    color: #f2f2f2;
    border-color: #98ff98;

}

/* targeting navlinks turning text green  enlarged an changed to italics when hovered */
.nav-link:hover,
.nav-link:active {

    font-size: 1.6rem;
    color: #98ff98;
    border-color: #98ff98;
    text-decoration: underline;
    font-style: italic;

}

/* targeting button in navabar only */
#navbar-btn {
    padding: 8px;
}

/* targeting navbar toggle button */
.navbar-toggler {
    background-color: #bf051e;
}

/* end navbar */

/* callout section */

/* a warpper for callout image */
.callout-section-img-wrapper {
    height: 100%;
    width: 100%;
}

/* callout container backgrond button */
.callout-container {
    background-color: black;
}

/* callout container image to cover entire view height flexbox added to  algin jumbotron elements */

.callout-container {

    height: 100vh;
    background: url('../images/background-img-two.jpg') no-repeat fixed;
    background-position-x: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

/* adjusting jumbuton for mobile */
.callout {
    margin-top: 3rem;
}

/* targeting gym name in jumbotron text shadow added for effect */
.jumbotron-gymname {
    font-family: 'Oswald', sans-serif;
    color: #e1e1e1;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.904);
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: 900;
}

/* targeting jumbotron quote */
.jumbotron-quote {

    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    margin: 1.8rem;
}

/* removing background color jumbtron to have text displayed over background image */
.jumbotron {
    background-color: transparent;
}


.offer-text {
    color: #98ff98;
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 2.2rem;
}

/* targeting text guiding user to scroll down rest of page visable on mobile only */
.mobile-only-callout-below-text {
    font-size: 1.7rem;
}

/* end callout section */

/* about section */
/* targeting all headers and text in about section */
.main-header-about-section {
    margin-top: 3rem;
    font-size: 3.5rem;
}

.about {
    color: #fff;
    font-size: 2.5rem;
}

.about-sub-header-two {
    margin-top: -5rem;

}

.about-sub-header-three {
    color: #98ff98;
    margin-top: -5rem;
}

.about-text {
    font-size: 1rem;
    color: #fff;
    line-height: 1.3em;
    font-weight: 600;

}

.about-text-info {
    display: block;
    margin-top: 1.25rem;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

/* end about section */

/* Modal Contact Form */
/* adding red color to asterisk in modal */
.error {
    color: #bf051e;
}

/* end modal contact form */

/* pricing section */
/* Modified from a tutorial found at https://startbootstrap.com/snippets/pricing-table/ */

.pricing .card {
    background-color: lightgrey;
    border: 0.4rem solid#272c2f;
    border-radius: 1rem;
}

ol,
ul {
    font-weight: 600;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.hr-style-pricing {
    margin: 0 auto;
    border-top: 0.125rem solid #5a9a5a;
    margin: 1.5rem;

}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: .1rem;
    font-weight: 700;
    color: #0f1215;
}

.pricing .card-price {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.pricing ul li {
    margin-bottom: 1rem;

}



/* end pricing section */

/* Team section */
/* Modified from a tutorial found at https://bootsnipp.com/snippets/92xNm */
/* team section cards size for mobile,small and large tablets */
.team-section-img-wrapper {
    margin: 0 auto;
    height: 100%;
    width: 90%;
}

.team-section {
    background-color: black;
}

/* background image added to team section to cover backgrond of entire section */
.team-section {
    background: url('../images/larger-background-img.jpg') no-repeat fixed;
    background-position-x: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.main-header-team-section {
    font-size: 4rem;
    margin-bottom: 4rem;
}

/* targeting button on teams section */
.btn-primary:hover,
.btn-primary:focus {
    background-color: #57020d;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #bf051e;
    border-color: #bf051e;
}

/* padding on entire team section */
.team-section {
    padding: 1.9rem 0;
}

/* making card text more visable adding white color */
.backside .card-text {
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


#team .card {
    background:#272c2f;
}

/* removing padding from cards so image width fits entire card */
.team-section .card-body {
    padding: 0rem;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transition: 1s;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 19.5rem;
}

.backside .card a {
    font-size: 1.1rem;
    color: #fff !important;
}


.frontside .card .card-title,
.backside .card .card-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff !important;
}

/* adjusting card image heights */
.frontside .card .card-body img {
    height: 11rem;
    width: 100%;

}

/* end team section */


/* Gym section */

/* traning-section-gym-sub-section */

.our-gym-header {
    font-size: 50px;
}

/* adding color to modal footer in trainning videos */
.modal-footer-gym-section {
    background-color: black;
}



/* end tranning-section-gym-sub-section */

/*results section */
/* Image .carousel has a  Z -index of 1 less than the nav bar so  is nit shown above nav when scrolling page */
.img-carousel {
    z-index: 1;
    border-radius: 0rem;
}

.first-img-carousel {
    border: 0.25rem solid white;
}

.second-img-carousel {
    border: 0.25rem solid red;
}


.test-section-customer-quotes {
    font-size: 1.3rem;
    line-height: 1.9rem;

}

.customer-name-test-section {
    font-size: 1.5rem;
}

.img-carousel {
    border-radius: 0.625rem;
}

.second-img-carousel {
    -webkit-box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
    box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
}

.video-icon-gym-section {
    margin-bottom: 1rem;
}

/* added to center carousel */
.wrapper-carousel-fix {
    margin-left: 1rem;
}

/* end customer testimonials section */

/* footer */
/* Modified from a tutorial found at https://colorlib.com/wp/bootstrap-footer/  */

footer {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
    background-attachment: fixed;
    background-color: #111111;
}

footer p {
    color: #ccc;
}

footer a {
    color: #ccc;
}

.social-pet li {
    display: inline-block;
    margin-right: 0.5rem;

}

.f-address li {
    display: inline-block;
}

.f-address li i {
    font-size: 1.1rem;
}

/* added to fix internet explorer issue with bootstrap flex on col class */

.internet-explorer-fix {
    -webkit-box-flex: 0;
            flex: none;
    -ms-flex: none;
}

/* end of internet explorer fix */

.f-address li a {
    color: #ccc;
}

/* copyright */

.copyright {
    margin: 0 auto;
    background-color: #111;
    padding: 0.75rem 0;
   
}

/* end copyright  */

/* end footer */

/* media queries */

/* for small tablets */

@media(min-width:567px) and (max-width:991px) {

    /* navbar */
    /* adjusting the navbar to suit suit small tablets */
    .navbar {
        font-size: 2rem;
        padding: 7px 0;
    }

    .gym-logo {
        margin-left: 0.5rem;
        height: 5rem;
    }

    .navbar-toggler {
        font-size: 2rem;
        margin-right: 2.25rem;
    }

    /* callout section */

    /* adjusting jumbuton for small tablets  */
    /* moving the entire jumbotron to take advanatage of longer tablet screens */
    .callout {
        margin-top: 7rem;
    }

    .special-img-one {
        margin-left: 0.6rem;
    }

    .jumbotron-gymname {
        font-size: 8rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* about section */
    /* adjustment to the about section headers and text to suit  small tablets */
    .main-header {
        font-size: 8rem;
    }

    .about {
        font-size: 4rem;
    }

    .about-text {
        font-size: 1.2rem;
    }


    .about-sub-header-two {
        font-size: 4.5rem;
    }

    .about-sub-header-three {
        font-size: 3.5rem;
    }

    /* pricing section */
    /* adjustment to the about pricing section  header to suit  small tablets */
    .pricing-header {
        font-size: 5rem;

    }

    /* team section */
    /* adjustment to the team section header  small tablets */
    .main-header-team-section {
        font-size: 9rem;
    }

    /* gym section */
    /* adjustment to the about gym headers to suit  small tablets */
    .our-gym-header {
        border: 1rem solid #bf051e;
        font-size: 9rem;
    }

    .gym-section-subheader {
        font-size: 7rem;
    }



    /* customer testimonials  section */
    /* adjustment to the testimonials section text to suit  small tablets */
    .test-section-customer-quotes {
        margin-top: 6rem;
    }

}

/* end for ipad */

/* for ipad pro */

@media(min-width: 992px) and (max-width:1180px) {

    /* navbar */
    /*targeting navbar an navitems to suit larger-tablets */
    .mynavlinks {
        margin-left: 4rem;
        margin-top: 1.7rem;
    }

    .nav-item {
        font-size: 2.5rem;
        font-weight: 700;
        padding: 0.6rem;
    }

    .gym-logo {
        margin-left: 0.5rem;
        height: 7rem;
    }

    /* callout section */
    /* adjusting jumbuton for larger tablets */
    .callout {
        margin-top: 18rem;
    }

    .special-img-one {
        margin-left: 2.5rem;
    }

    .jumbotron-gymname {
        font-size: 10rem;

    }

    .jumbotron-quote {
        font-size: 4rem;
        letter-spacing: 1px;
    }

    .offer-text {
        font-size: 3rem;
    }

    /* about section */
    /*  adjusting about section headers  an text  for larger tablets */
    .main-header-about-section {
        font-size: 11rem;
    }

    .about-text {
        font-size: 1.7rem;
    }


    .sub-header {
        font-size: 6.5rem;
    }

    .about-sub-header-two {
        font-size: 6rem;
    }


    .about-sub-header-three {
        font-size: 4rem;
    }

    .about-text {
        margin-top: 1.1rem;
    }

    /* pricing section */
    /*  adjusting  pricing section  header  for larger tablets */
    .pricing-header {
        font-size: 6rem;

    }

    /* adjustments to bottom of pricing section cards to have equal length on large tablets */
    #last-list-item-second-priceplan {
        margin-bottom: 3.9rem;
    }

    #last-list-item-third-priceplan {
        margin-bottom: 2.3rem;
    }

    /* team section */
    /*  adjusting team  section  header  for larger tablets */
    .main-header-team-section {
        font-size: 12.5rem;
    }

    /* gym section */
    /*  adjusting gym section  headers  for larger tablets */
    .our-gym-header {
        border: 1rem solid #bf051e;
        font-size: 13rem;
    }

    .gym-section-subheader {
        font-size: 10rem;

    }


    /* customer testimonials section */
    /*  adjusting testimonials   header  for larger tablets */
    .test-section-customer-quotes {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 6rem;
    }

}

/* end for ipad pro */

/* /* for laptops */


@media(min-width: 1200px) {

    /*  navbar section  */
    /* adjusting navbar an nav items  for laptops */
    .gym-logo {
        height: 6rem;
        width: auto;
    }


    .mynavlinks {
        margin-top: 0.5rem;
        margin-left: 19.5rem;

    }

    /* toning down the navbar opacity here for laptops to make nav less visable on background image due to wider screen  an nav taking up more space   */
    .navbar {
        opacity: 0.5;
    }

    .nav-item {
        font-size: 2rem;
        font-weight: 600;
        margin: 0rem 0.625rem;
    }

    /* adjustments made here to align images with jumbotron on laptops and larger devices */
    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 18rem;
    }

    /* end navbar section */

    /* callout section */
    /* adjusting jumbuton for laptop */
    .callout {
        margin-top: 13rem;
    }

    .jumbotron-gymname {
        font-size: 4.5rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* end callout section */

    /* about section */
    /* adjusting about section headers and text here for laptops an larger devices */
    .main-header-about-section {
        margin-top: 2.2rem;
        font-size: 15rem;
    }

    .about-text {
        font-size: 2rem;
    }


    .about-sub-header-one {
        font-size: 8rem;

    }

    .about-sub-header-two {
        font-size: 7rem;
        margin-top: -10rem;
    }

    .about-sub-header-three {
        font-size: 5rem;
        margin-top: -11rem;

    }

    /* end about section */

    /* pricing section */
    /* adjusting  pricing  header here for laptops an larger devices */
    .pricing-header {
        font-size: 7.5rem;

    }

    /* adjustments to bottom of pricing section cards to have equal length on laptops and larger devices */
    #last-list-item-second-priceplan {
        margin-bottom: 3.9rem;
    }

    #last-list-item-third-priceplan {
        margin-bottom: 2.3rem;
    }

    /* end pricing section */


    /* team section */
    /* adjusting about team section header here for laptops an larger devices */
    .main-header-team-section {
        font-size: 11rem;
    }

    /* team section cards size adjusted here  for laptops and larger devices  to slighty narrow to aviod streched look */
    .team-section-img-wrapper {
        width: 75%;
    }

    .frontside .card .card-title,
    .backside .card .card-title {
        font-size: 1.9rem;
    }

    /* end team section */

    /* gym section */
    /* adjusting gym  header here for laptops an larger devices */
    .our-gym-header {
        border: 16px solid #bf051e;
        font-size: 17rem;
    }

    .gym-section-subheader {
        font-size: 11rem;

    }

    /* end gym section */

    /* customer testimonials section */
    /* adjusting testimonials  text  here for laptops an larger devices */
    .test-section-customer-quotes {
        margin-top: 7rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

/* footer */
/* adding margin to social links for large tablets to give some space between them */
.social-icon-footer-links{
margin-right: 0.7rem;
}

/* end for laptops */

/* for large desktop */
/* slight adjustments where made here for navbar and call out sections for larger desktops  */
@media(min-width:1400px) {

    .gym-logo {
        height: 8rem;
        width: auto;
    }


    .mynavlinks {
        margin-left: 22rem;
    }

    .nav-item {
        margin: 0rem 1.1rem;

    }

    .callout {
        margin-top: 15rem;
    }

    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 22rem;
    }

    .jumbotron-gymname {
        font-size: 6.9rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');
        /* main body */
        
        /* scroll behaviour smooth added to give smooth scrolling
         effect an overflow x added to deal with any unwanted over flow */
        body,
        html {
            font-size: 16px;
             /* overflow-x: hidden;  */
            scroll-behavior: smooth;
        }
        
        /* removing all margins and padding from bootsrap rows an cols */
        .container-fluid,
        .container,
        .row {
            margin: 0;
            padding: 0;
        }
        
        /* end main body */
        
        /* Colors */
        
        .bg-navbar-color {
            background-color: #111111;
        }
        
        .about-section {
            background-color: #272c2f;
        }
        
        .gym-section-wrapper {
            background-color: #272c2f;
        }
        
        .pricing-wrapper {
            background-color: rgb(80, 88, 95);
        }
        
        .dark-red {
            color: #bf051e;
        }
        
        .darkgrey {
            color: #272c2f;
        }
        
        .mintgreen {
            color: #98ff98;
        }
        
        .white {
            color: #fff;
        }
        
        .black {
            color: #000;
        }
        
        .light-grey {
            color: #8e8f8f;
        }
        
        
        
        /* end colors */
        
        /* Reusable Components */
        
        .uppercase {
            text-transform: uppercase;
        }
        
        p {
            font-family: 'Barlow Semi Condensed', sans-serif;
            line-height: 1.7rem;
        
        }
        
        .text-barlow {
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
        
        /* reused for all divs giving redline effect */
        .hr-style {
            margin: 0 auto;
            width: 80%;
            border-top: 0.25rem solid#bf051e;
        
        }
        
        /* reused for all main headers on sections */
        .main-header {
            border: 1rem solid #bf051e;
            color: #fff;
            font-family: 'Oswald', sans-serif;
            text-shadow: 0 0 13px rgba(0, 0, 0, .88);
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
        
        /* reused for all sub headers on sections */
        .sub-header {
            font-size: 3rem;
            font-weight: bold;
            font-family: 'Oswald', sans-serif;
            text-shadow: 0 0 13px rgba(0, 0, 0, .88);
        }
        
        /* targeting padding in  modal body in facilities only */
        
        .facilities  .modal-body {
            padding: 0;
        }
        
        /* end reusable Components */
        
        /* icons  and socail links*/
        .gym-section-logo i {
            font-size: 3.2rem;
            color: #bf051e;
        }
        
        /* adding transition timing effect to card  an footer social links  for a more subtle effect when hovered */
        .modal-footer-gym-section i ,
        .social-icon i ,
        .social-icon-footer-links {
            color: #fff;
            transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
        }
        
        /* changing links to red when hovered */
        .modal-footer-gym-section i:hover,
        .social-icon i:hover {
            margin-bottom: 0;
            color: #bf051e;
        }
        
        /* adding green to ticks in pricing section card */
        .fa-li i {
            color: #5a9a5a;
        }
        /* adding background color to the links on trainning section modal  */
        .modal-footer-gym-section a {
            background-color: #8e8e8f;
        border-radius: 50%;
        
        }
        
        /* carousel  for customer transformation  altered here */
        .carousel-before-after i {
            font-size: 2.5rem;
            font-weight: 900;
        }
        /* targeting footer icons  */
        .social-icon-footer-icon {
            font-size: 1.2rem;
            padding: 0.5rem;
            border-radius: 50%;
            background-color: #bf051e;
        
        }
        /* targeting footer icon links on hover */
        .social-icon-footer-links:hover{
        color: grey;
        }
        
        /* buttons */
        /*  button call to action */
        .btn-cta {
            background-color: #bf051e;
            color: #fff;
            font-size: 1.6rem;
            font-family: 'Barlow Semi Condensed', sans-serif;
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-weight: 900;
            padding: 0.6rem 1.5rem;
            transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
        }
        
        /* buttons in hovered an active state */
        .btn-cta:link,
        .btn-cta:visited,
        .btn-cta:hover,
        .btn-cta:active {
            color: #f2f2f2;
            border-color: #98ff98;
        }
        
        /* used for callout section button */
        .btn-callout {
            display: block;
            margin: 0 auto;
            margin-top: 1.25rem;
        
        }
        
        /* used for navbar section button  only*/
        .btn-navbar {
            margin-top: 0.3rem;
        }
        
        /* used for navbar  pricing section  button  green color overrides red from btn cta*/
        .btn-pricing {
            display: block;
            margin: 0 auto;
            background-color: #5a9a5a;
        }
        
        /* to stop btn in modal footer sticking to textbox */
        .btn-modal {
            margin-top: 0.45rem;
        
        }
        
        /* overriding some of cta class here to make modal btn fit in to modal footer in traning section modal videos */
        .modal-footer .btn {
            font-size: 0.5rem;
            padding: 0.4rem;
        }
        
        /* overriding btn-cta here to reduce footer btn size */
        .btn-footer {
            padding: 0.5rem;
        }
        
        /* end buttons */
        
        /* Navbar */
        /* a border was added here to surround gym logo Image */
        .gym-logo {
            margin-left: 0.55rem;
            border: 0.25rem solid#bf051e;
            border-radius: 0.125rem;
            height: 2.6rem;
            width: auto;
        }
        
        /* added for a fixed navbar dispaled over callout background z-index-2 
        added to override carosel z-index from results section*/
        .navbar-fixed-top {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2;
        }
        
        /* adding opacity here for mobile tablets and small tablets to make navbar blend 
        with background call out image but still visable when scrolling page */
        .navbar {
            background-color: black;
            opacity: 0.7;
        }
        
        .navbar-toggler {
            margin-right: 1.5rem;
        }
        
        /* targeting entire navbar links as a group */
        .mynavlinks {
            font-family: 'Barlow Semi Condensed', sans-serif;
            margin: 0rem 0.5rem;
        }
        
        /* targeting navbar links individually */
        .nav-link {
            padding: 0.6rem;
            margin-top: 0.6rem;
            margin-left: 1.75rem;
            font-weight: 700;
            font-size: 1.5rem;
            letter-spacing: 0.5px;
            transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
        
        }
        
        /* targeting navlinks turning text green when visited */
        .nav-link:link,
        .nav-link:visited {
            color: #f2f2f2;
            border-color: #98ff98;
        
        }
        
        /* targeting navlinks turning text green  enlarged an changed to italics when hovered */
        .nav-link:hover,
        .nav-link:active {
        
            font-size: 1.6rem;
            color: #98ff98;
            border-color: #98ff98;
            text-decoration: underline;
            font-style: italic;
        
        }
        
        /* targeting button in navabar only */
        #navbar-btn {
            padding: 8px;
        }
        
        /* targeting navbar toggle button */
        .navbar-toggler {
            background-color: #bf051e;
        }
        
        /* end navbar */
        
        /* callout section */
        
        /* a warpper for callout image */
        .callout-section-img-wrapper {
            height: 100%;
            width: 100%;
        }
        
        /* callout container backgrond button */
        .callout-container {
            background-color: black;
        }
        
        /* callout container image to cover entire view height flexbox added to  algin jumbotron elements */
        
        .callout-container {
        
            height: 100vh;
            background: url('../images/background-img-two.jpg') no-repeat fixed;
            background-position-x: 50%;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            display: flexbox;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
        }
        
        /* adjusting jumbuton for mobile */
        .callout {
            margin-top: 3rem;
        }
        
        /* targeting gym name in jumbotron text shadow added for effect */
        .jumbotron-gymname {
            font-family: 'Oswald', sans-serif;
            color: #e1e1e1;
            text-shadow: 0 0 13px rgba(0, 0, 0, 0.904);
            font-size: 3.5rem;
            letter-spacing: 2px;
            font-weight: 900;
        }
        
        /* targeting jumbotron quote */
        .jumbotron-quote {
        
            color: #fff;
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-weight: 700;
            margin: 1.8rem;
        }
        
        /* removing background color jumbtron to have text displayed over background image */
        .jumbotron {
            background-color: transparent;
        }
        
        
        .offer-text {
            color: #98ff98;
            font-size: 1.7rem;
            font-weight: 900;
            letter-spacing: 1px;
            margin-top: 2.2rem;
        }
        
        /* targeting text guiding user to scroll down rest of page visable on mobile only */
        .mobile-only-callout-below-text {
            font-size: 1.7rem;
        }
        
        /* end callout section */
        
        /* about section */
        /* targeting all headers and text in about section */
        .main-header-about-section {
            margin-top: 3rem;
            font-size: 3.5rem;
        }
        
        .about {
            color: #fff;
            font-size: 2.5rem;
        }
        
        .about-sub-header-two {
            margin-top: -5rem;
        
        }
        
        .about-sub-header-three {
            color: #98ff98;
            margin-top: -5rem;
        }
        
        .about-text {
            font-size: 1rem;
            color: #fff;
            line-height: 1.3em;
            font-weight: 600;
        
        }
        
        .about-text-info {
            display: block;
            margin-top: 1.25rem;
            font-size: 2rem;
            font-weight: 700;
            font-style: italic;
        }
        
        /* end about section */
        
        /* Modal Contact Form */
        /* adding red color to asterisk in modal */
        .error {
            color: #bf051e;
        }
        
        /* end modal contact form */
        
        /* pricing section */
        /* Modified from a tutorial found at https://startbootstrap.com/snippets/pricing-table/ */
        
        .pricing .card {
            background-color: lightgrey;
            border: 0.4rem solid#272c2f;
            border-radius: 1rem;
        }
        
        ol,
        ul {
            font-weight: 600;
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
        
        .hr-style-pricing {
            margin: 0 auto;
            border-top: 0.125rem solid #5a9a5a;
            margin: 1.5rem;
        
        }
        
        .pricing .card-title {
            margin: 0.5rem 0;
            font-size: 1.2rem;
            font-family: 'Barlow Semi Condensed', sans-serif;
            letter-spacing: .1rem;
            font-weight: 700;
            color: #0f1215;
        }
        
        .pricing .card-price {
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-size: 3rem;
            font-weight: 600;
            margin: 0;
        }
        
        .pricing .card-price .period {
            font-size: 0.8rem;
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
        
        .pricing ul li {
            margin-bottom: 1rem;
        
        }
        
        /* end pricing section */
        
        /* Team section */
        /* Modified from a tutorial found at https://bootsnipp.com/snippets/92xNm */
        /* team section cards size for mobile,small and large tablets */
        .team-section-img-wrapper {
            margin: 0 auto;
            height: 100%;
            width: 90%;
        }
        
        /* background image added to team section to cover backgrond of entire section */
        .team-section {
            background: url('../images/larger-background-img.jpg') no-repeat fixed;
            background-position-x: 50%;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        
        }
        
        .main-header-team-section {
            font-size: 4rem;
            margin-bottom: 4rem;
        }
        
        /* targeting button on teams section */
        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #57020d;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
        }
        
        .btn-primary {
            color: #fff;
            background-color: #bf051e;
            border-color: #bf051e;
        }
        
        /* padding on entire team section */
        .team-section {
            padding: 1.9rem 0;
        }
        
        /* making card text more visable adding white color */
        .backside .card-text {
            color: #fff;
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
        
        
        #team .card {
            background: #353030c7;
        }
        
        /* removing padding from cards so image width fits entire card */
        .team-section .card-body {
            padding: 0rem;
        }
        
        .image-flip:hover .backside,
        .image-flip.hover .backside {
            -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
        }
        
        .image-flip:hover .frontside,
        .image-flip.hover .frontside {
            -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
        }
        
        .mainflip {
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -ms-transition: 1s;
            -moz-transition: 1s;
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
            -moz-transform: perspective(1000px);
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            -o-transition: 1s;
            transition: 1s;
            transform-style: preserve-3d;
            position: relative;
        }
        
        .frontside {
            position: relative;
            transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            z-index: 2;
            margin-bottom: 30px;
        }
        
        .backside {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }
        
        .frontside,
        .backside {
            width: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 1s;
            -moz-transform-style: preserve-3d;
            -o-transition: 1s;
            -o-transform-style: preserve-3d;
            -ms-transition: 1s;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
        }
        
        .frontside .card,
        .backside .card {
            min-height: 19.5rem;
        }
        
        .backside .card a {
            font-size: 1.1rem;
            color: #fff !important;
        }
        
        
        .frontside .card .card-title,
        .backside .card .card-title {
            font-family: 'Barlow Semi Condensed', sans-serif;
            color: #fff !important;
        }
        
        /* adjusting card image heights */
        .frontside .card .card-body img {
            height: 11rem;
            width: 100%;
        
        }
        
        /* end team section */
        
        
        /* Gym section */
        
        /* traning-section-gym-sub-section */
        
        .our-gym-header {
            font-size: 50px;
        }
        
        /* adding color to modal footer in trainning videos */
        .modal-footer-gym-section {
            background-color: black;
        }
        
        
        
        /* end tranning-section-gym-sub-section */
        
        /*results section */
        /* Image .carousel has a  Z -index of 1 less than the nav bar so  is nit shown above nav when scrolling page */
        .img-carousel {
            z-index: 1;
            border-radius: 0rem;
        }
        
        .first-img-carousel {
            border: 0.25rem solid white;
        }
        
        .second-img-carousel {
            border: 0.25rem solid red;
        }
        
        
        .test-section-customer-quotes {
            font-size: 1.3rem;
            line-height: 1.9rem;
        
        }
        
        .customer-name-test-section {
            font-size: 1.5rem;
        }
        
        .img-carousel {
            border-radius: 0.625rem;
        }
        
        .second-img-carousel {
            -webkit-box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
            box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
        }
        
        .video-icon-gym-section {
            margin-bottom: 1rem;
        }
        
        /* added to center carousel */
        .wrapper-carousel-fix {
            margin-left: 1rem;
        }
        
        /* end customer testimonials section */
        
        /* footer */
        /* Modified from a tutorial found at https://colorlib.com/wp/bootstrap-footer/  */
        
        footer {
            font-family: 'Barlow Semi Condensed', sans-serif;
            color: #fff;
            background-attachment: fixed;
            background-color: #111111;
        }
        
        footer p {
            color: #ccc;
        }
        
        footer a {
            color: #ccc;
        }
        
        .social-pet li {
            display: inline-block;
            margin-right: 0.5rem;
        
        }
        
        .f-address li {
            display: inline-block;
        }
        
        .f-address li i {
            font-size: 1.1rem;
        }
        
        /* added to fix internet explorer issue with bootstrap flex on col class in abouts us footer section */
         /* also  added to fix internet explorer issue with bootstrap flex on col class in abouts us copyright  section */
         /* found  by using internet explorer dev tools that displaying flex as none removed the issue on both sections  */
        .internet-explorer-fix {
            -webkit-box-flex: 0;
                    flex: none;
            -ms-flex: none;
        }
        
        /* end of internet explorer fix */
        
        .f-address li a {
            color: #ccc;
        }
        
        /* copyright */
        
        .copyright {
            margin: 0 auto;
            background-color: #111;
            padding: 0.75rem 0;
           
        }
        
        /* end copyright  */
        
        /* end footer */
        
        /* media queries */
        
        /* for small tablets */
        
        @media(min-width:567px) and (max-width:991px) {
        
            /* navbar */
            /* adjusting the navbar to suit suit small tablets */
            .navbar {
                font-size: 2rem;
                padding: 7px 0;
            }
        
            .gym-logo {
                margin-left: 0.5rem;
                height: 5rem;
            }
        
            .navbar-toggler {
                font-size: 2rem;
                margin-right: 2.25rem;
            }
        
            /* callout section */
        
            /* adjusting jumbuton for small tablets  */
            /* moving the entire jumbotron to take advanatage of longer tablet screens */
            .callout {
                margin-top: 7rem;
            }
        
            .special-img-one {
                margin-left: 0.6rem;
            }
        
            .jumbotron-gymname {
                font-size: 8rem;
        
            }
        
            .jumbotron-quote {
                letter-spacing: 1px;
            }
        
            /* about section */
            /* adjustment to the about section headers and text to suit  small tablets */
            .main-header {
                font-size: 8rem;
            }
        
            .about {
                font-size: 4rem;
            }
        
            .about-text {
                font-size: 1.2rem;
            }
        
        
            .about-sub-header-two {
                font-size: 4.5rem;
            }
        
            .about-sub-header-three {
                font-size: 3.5rem;
            }
        
            /* pricing section */
            /* adjustment to the about pricing section  header to suit  small tablets */
            .pricing-header {
                font-size: 5rem;
        
            }
        
            /* team section */
            /* adjustment to the team section header  small tablets */
            .main-header-team-section {
                font-size: 9rem;
            }
        
            /* gym section */
            /* adjustment to the about gym headers to suit  small tablets */
            .our-gym-header {
                border: 1rem solid #bf051e;
                font-size: 9rem;
            }
        
            .gym-section-subheader {
                font-size: 7rem;
            }
        
        
        
            /* customer testimonials  section */
            /* adjustment to the testimonials section text to suit  small tablets */
            .test-section-customer-quotes {
                margin-top: 6rem;
            }
        
        }
        
        /* end for ipad */
        
        /* for ipad pro */
        
        @media(min-width: 992px) and (max-width:1180px) {
        
            /* navbar */
            /*targeting navbar an navitems to suit larger-tablets */
            .mynavlinks {
                margin-left: 4rem;
                margin-top: 1.7rem;
            }
        
            .nav-item {
                font-size: 2.5rem;
                font-weight: 700;
                padding: 0.6rem;
            }
        
            .gym-logo {
                margin-left: 0.5rem;
                height: 7rem;
            }
        
            /* callout section */
            /* adjusting jumbuton for larger tablets */
            .callout {
                margin-top: 18rem;
            }
        
            .special-img-one {
                margin-left: 2.5rem;
            }
        
            .jumbotron-gymname {
                font-size: 10rem;
        
            }
        
            .jumbotron-quote {
                font-size: 4rem;
                letter-spacing: 1px;
            }
        
            .offer-text {
                font-size: 3rem;
            }
        
            /* about section */
            /*  adjusting about section headers  an text  for larger tablets */
            .main-header-about-section {
                font-size: 11rem;
            }
        
            .about-text {
                font-size: 1.7rem;
            }
        
        
            .sub-header {
                font-size: 6.5rem;
            }
        
            .about-sub-header-two {
                font-size: 6rem;
            }
        
        
            .about-sub-header-three {
                font-size: 4rem;
            }
        
            .about-text {
                margin-top: 1.1rem;
            }
        
            /* pricing section */
            /*  adjusting  pricing section  header  for larger tablets */
            .pricing-header {
                font-size: 6rem;
        
            }
        
            /* adjustments to bottom of pricing section cards to have equal length on large tablets */
            #last-list-item-second-priceplan {
                margin-bottom: 3.9rem;
            }
        
            #last-list-item-third-priceplan {
                margin-bottom: 2.3rem;
            }
        
            /* team section */
            /*  adjusting team  section  header  for larger tablets */
            .main-header-team-section {
                font-size: 12.5rem;
            }
        
            /* gym section */
            /*  adjusting gym section  headers  for larger tablets */
            .our-gym-header {
                border: 1rem solid #bf051e;
                font-size: 13rem;
            }
        
            .gym-section-subheader {
                font-size: 10rem;
        
            }
        
        
            /* customer testimonials section */
            /*  adjusting testimonials   header  for larger tablets */
            .test-section-customer-quotes {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-top: 6rem;
            }
        
        }
        
        /* end for ipad pro */
        
        /* /* for laptops */
        
        
        @media(min-width: 1200px) {
        
            /*  navbar section  */
            /* adjusting navbar an nav items  for laptops */
            .gym-logo {
                height: 6rem;
                width: auto;
            }
        
        
            .mynavlinks {
                margin-top: 0.5rem;
                margin-left: 19.5rem;
        
            }
        
            /* toning down the navbar opacity here for laptops to make nav less visable on background image due to wider screen  an nav taking up more space   */
            .navbar {
                opacity: 0.5;
            }
        
            .nav-item {
                font-size: 2rem;
                font-weight: 600;
                margin: 0rem 0.625rem;
            }
        
            /* adjustments made here to align images with jumbotron on laptops and larger devices */
            .special-img-one {
                margin-left: 7rem;
            }
        
            .offer-img {
                margin-top: 18rem;
            }
        
            /* end navbar section */
        
            /* callout section */
            /* adjusting jumbuton for laptop */
            .callout {
                margin-top: 13rem;
            }
        
            .jumbotron-gymname {
                font-size: 4.5rem;
        
            }
        
            .jumbotron-quote {
                letter-spacing: 1px;
            }
        
            /* end callout section */
        
            /* about section */
            /* adjusting about section headers and text here for laptops an larger devices */
            .main-header-about-section {
                margin-top: 2.2rem;
                font-size: 15rem;
            }
        
            .about-text {
                font-size: 2rem;
            }
        
        
            .about-sub-header-one {
                font-size: 8rem;
        
            }
        
            .about-sub-header-two {
                font-size: 7rem;
                margin-top: -10rem;
            }
        
            .about-sub-header-three {
                font-size: 5rem;
                margin-top: -11rem;
        
            }
        
            /* end about section */
        
            /* pricing section */
            /* adjusting  pricing  header here for laptops an larger devices */
            .pricing-header {
                font-size: 7.5rem;
        
            }
        
            /* adjustments to bottom of pricing section cards to have equal length on laptops and larger devices */
            #last-list-item-second-priceplan {
                margin-bottom: 3.9rem;
            }
        
            #last-list-item-third-priceplan {
                margin-bottom: 2.3rem;
            }
        
            /* end pricing section */
        
        
            /* team section */
            /* adjusting about team section header here for laptops an larger devices */
            .main-header-team-section {
                font-size: 11rem;
            }
        
            /* team section cards size adjusted here  for laptops and larger devices  to slighty narrow to aviod streched look */
            .team-section-img-wrapper {
                width: 75%;
            }
        
            .frontside .card .card-title,
            .backside .card .card-title {
                font-size: 1.9rem;
            }
        
            /* end team section */
        
            /* gym section */
            /* adjusting gym  header here for laptops an larger devices */
            .our-gym-header {
                border: 16px solid #bf051e;
                font-size: 17rem;
            }
        
            .gym-section-subheader {
                font-size: 11rem;
        
            }
        
            /* end gym section */
        
            /* customer testimonials section */
            /* adjusting testimonials  text  here for laptops an larger devices */
            .test-section-customer-quotes {
                margin-top: 7rem;
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
        
        /* footer */
        /* adding margin to social links for large tablets to give some space between them */
        .social-icon-footer-links{
        margin-right: 0.7rem;
        }
        
        /* end for laptops */
        
        /* for large desktop */
        /* slight adjustments where made here for navbar and call out sections for larger desktops  */
        @media(min-width:1400px) {
        
            .gym-logo {
                height: 8rem;
                width: auto;
            }
        
        
            .mynavlinks {
                margin-left: 22rem;
            }
        
            .nav-item {
                margin: 0rem 1.1rem;
        
            }
        
            .callout {
                margin-top: 15rem;
            }
        
            .special-img-one {
                margin-left: 7rem;
            }
        
            .offer-img {
                margin-top: 22rem;
            }
        
            .jumbotron-gymname {
                font-size: 6.9rem;
        
            }
        
            .jumbotron-quote {
                letter-spacing: 1px;
            }
        
        }
        
           
        /*  {
            border: 1px solid #f00 !important;
        }     */
    }

}

   
/*  {
    border: 1px solid #f00 !important;
}     */