@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');
/* main body */

/* copy an pasted from code found at https://stackoverflow.com/questions/4617872/ 
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
   
}

/*  end of copyed code */


body {
    font-size: 16px;
    scroll-behavior: smooth;
}

.container-fluid,
.container,
.row {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* end main body */

/* Colors */

.bg-navbar-color {
    background-color: #111111;
}

.about-section {
    background-color: #272c2f;
}

.gym-section-wrapper {
    background-color: #272c2f;
}

.pricing-wrapper {
    background-color: rgb(80, 88, 95);
}

.dark-red {
    color: #bf051e;
}

.darkgrey {
    color: #272c2f;
}

.mintgreen {
    color: #98ff98;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.light-grey {
    color: #8e8f8f;
}

/* end colors */

/* Reusable Components */

.uppercase {
    text-transform: uppercase;
}

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7rem;

}

.text-barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.hr-style {
    margin: 0 auto;
    width: 80%;
    border-top: 0.25rem solid#bf051e;

}

.red-stripe {

    background: #bf051e;
    height: 1rem;
    width: 100%;
    z-index: 1;
}


.main-header {
    border: 1rem solid #bf051e;
    font-weight: bold;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 13px rgba(0, 0, 0, .88);
}

.sub-header {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 13px rgba(0, 0, 0, .88);
}

.gym-section-logo i {
    font-size: 3.2rem;
    color: #bf051e;
}

/* end reusable Components */

/* buttons */

.btn-cta {
    background-color: #bf051e;
    color: #fff;
    font-size: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: 900;
    padding: 0.6rem 1rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-cta:link,
.btn-cta:visited,
.btn-cta:hover,
.btn-cta:active {
    color: #f2f2f2;
    border-color: #98ff98;
}

.btn-callout {
    display: block;
    margin: 0 auto;
    margin-top: 1.25rem;

}

.btn-navbar {
    margin-top: 0.3rem;
}

.btn-pricing {
    display: block;
    margin: 0 auto;
    background-color: #5a9a5a;
}

.btn-modal {
    margin-top: 0.45rem;
}

.btn-cta-gym-modal {
    background-color: #bf051e;
    color: #fff;
    border-radius: 2.2rem;
}

.btn-cta-gym-modal:link,
.btn-cta-gym-modal:visited,
.btn-cta-gym-modal:hover,
.btn-cta-gym-modal:active {
    color: #f2f2f2;
    border-color: #fff;
}

/* end buttons */

/* Navbar */

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-expand-lg,
.container-fluid {
    padding: 0;
    border: 0;
}

.gym-logo {
    margin-left: 0.55rem;
    border: 0.25rem solid#bf051e;
    border-radius: 0.125rem;
    height: 2.6rem;
    width: auto;
}

.nav-heading {

    font-size: 2rem;
    padding: 1rem 0rem 0rem 1rem;
    font-family: 'Oswald', sans-serif;
    color: #f2f2f2;
    font-weight: 500;
    text-transform: uppercase;

}

.navbar-nav {
    margin-bottom: 0.2rem;
}

.navbar-nav .nav-item {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0rem 0.5rem;
}

.navbar .navbar-nav .nav-link {
    padding: 0.6rem;
    margin-top: 1rem;
    margin-left: 1.25rem;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.navbar .navbar-nav .nav-link:link,
.navbar .navbar-nav .nav-link:visited,
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:active {
    color: #f2f2f2;
    border-color: #98ff98;

}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
    color: #98ff98;
    border-color: #98ff98;
    text-decoration: underline;
    font-style: italic;

}

.navbar-toggler {
    background-color: #bf051e;
}

/* end navbar */

/* callout section */

.callout-section-img-wrapper {
    height: 100%;
    width: 100%;
}

.callout-container {

    height: 100vh;
    background: url('../images/background-image-mobile.jpg') no-repeat fixed;
    background-position-x: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.jumbotron-gymname {
    font-family: 'Oswald', sans-serif;
    color: #e1e1e1;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.904);
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-weight: 900;
}

.jumbotron-quote {

    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    margin: 1.8rem;


}

.jumbotron {

    background-color: transparent;
}


.offer-text {
    color: #98ff98;
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 2.2rem;
}

.mobile-only-callout-below-text {
    font-size: 1.7rem;
}

/* end callout section */

/* about section */

.main-header-about-section {
    font-size: 3.5rem;
}

.about {
    color: #fff;
    font-size: 2.5rem;
}

.about-sub-header-two {
    margin-top: -5rem;

}

.about-sub-header-three {
    color: #98ff98;
    margin-top: -5rem;
}

.about-text {
    font-size: 1rem;
    color: #fff;
    line-height: 1.3em;
    font-weight: 600;

}

.about-text-info {
    display: block;
    margin-top: 1.25rem;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

/* end about section */

/* Modal Contact Form */

.error {
    color: #bf051e;
}

/* end modal contact form */

/* pricing section */
/* Modified from a tutorial found at https://startbootstrap.com/snippets/pricing-table/ */
section.pricing {
    border: 0;
    padding: 0;

}

.pricing .card {
    border: 0.4rem solid#272c2f;
    border-radius: 1rem;
}

l,
ol,
ul {
    font-weight: 600;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.pricing hr {
    border-top: 0.125rem solid #5a9a5a;
    margin: 1.5rem;

}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: .1rem;
    font-weight: 700;
    color: #0f1215;
}

.pricing .card-price {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.pricing ul li {
    margin-bottom: 1rem;

}

.fa-li i {
    color: #5a9a5a;
}

/* end pricing section */

/* Team section */
/* Modified from a tutorial found at https://bootsnipp.com/snippets/92xNm */

.team-section-img-wrapper {
    height: 100%;
    width: 100%;
}

.team-section {
    background: url('../images/larger-background-img.jpg') no-repeat fixed;
    background-position-x: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.opaque-overlay-team {
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-header-team-section {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.233);
    text-align: center;
    margin-bottom: 4rem;
    text-transform: uppercase;
    border: 1rem solid#bf051e;
    color: #fff;
    text-shadow: 0 0 13px rgba(0, 0, 0, .50);
}


.btn-primary:hover,
.btn-primary:focus {
    background-color: #57020d;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #bf051e;
    border-color: #bf051e;
}

.team-section {
    padding: 1.9rem 0;
}

.backside .card-text {
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


#team .card {
    border: 0.45rem solid #bf051e;
    border-radius: 10px;
    background: #272c2f;
    -webkit-box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
    box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
}

.team-section .card-body {
    padding: 0;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transition: 1s;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 19.5rem;
}

.backside .card a {
    font-size: 1.1rem;
    color: #fff !important;
}

.social-icon i {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-icon i:hover {
    margin-bottom: 0;
    color: #bf051e;
}

.frontside .card .card-title,
.backside .card .card-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff !important;
}

.frontside .card .card-body img {
    height: 13.25rem;
    width: 100%;
}

/* end team section */


/* Gym section */

/* tranning-section-gym-sub-section */
/* Modified from a tutorial found at https://mdbootstrap.com/plugins/jquery/gallery/ */

.our-gym-header {
    margin: 2rem 0 2rem 0;
    border: 1rem solid #bf051e;
    font-size: 50px;
}

.gym-section-text {
    color: white;
    font-family: "Barlow", sans-serif;
    font-style: italic;
}



.vid-div-border {
    border: 0.3rem solid #bf051e;
    -webkit-box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
    box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
    border-radius: 0.6rem;

}

.modal-footer-gym-section {
    background-color: black;
}

.modal-footer-gym-section a {
    background-color: #8e8e8f;


}

.modal-footer-gym-section i {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    color: #fff;

}

.modal-footer-gym-section i:hover {
    color: #bf051e;
}

/* end tranning-section-gym-sub-section */

/* facilites-section-gym-subsection */
/* Modified from a tutorial found at https://tutorialzine.com/2018/03/3-amazing-bootstrap-4-gallery-templates */

.gallery-block {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item {
    overflow: hidden;
    margin-bottom: 0;
    background: black;
    opacity: 1;
}

.gallery-block.compact-gallery .item .image {
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info {
    position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description {
    display: -ms-grid;
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 1.1rem;
    font-size: 1rem;
    line-height: 1.1rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 1;
    color: #fff;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.39)));
    background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.39));
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading {
    font-size: 1em;
    font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body {
    font-size: 0.8em;
    margin-top: 6.25rem;
    font-weight: 300;
}

@media (min-width: 576px) {

    .gallery-block.compact-gallery .item .description {
        opacity: 0;
    }

    .gallery-block.compact-gallery .item a:hover .description {
        opacity: 1;
    }

    .gallery-block .zoom-on-hover:hover .image {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0.7;
    }
}

/* end facilites section */

/*results section */
/* Modified from a tutorial found at https://mdbootstrap.com/docs/jquery/sections/testimonials/ */

.first-img-carousel {
    border: 0.25rem solid white;
}

.second-img-carousel {
    border: 0.25rem solid red;
}

.carousel-before-after i {
    font-size: 2.5rem;
    font-weight: 900;
}

.test-section-customer-quotes {
    font-size: 1.3rem;
    line-height: 1.9rem;

}

.customer-name-test-section {
    font-size: 1.5rem;
}

.img-carousel {
    border-radius: 0.625rem;
}

.second-img-carousel {
    -webkit-box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
    box-shadow: 0 0 13px rgba(250, 248, 248, 0.90);
}

.video-icon-gym-section {
    margin-bottom: 1rem;
}

/* added to center carousel */
.wrapper-carousel-fix {
    margin-left: 1rem;
}

/* end customer testimonials section */

/* footer */
/* Modified from a tutorial found at https://colorlib.com/wp/bootstrap-footer/  */

footer {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
    background-attachment: fixed;
    background-color: #111111;
}

footer p {
    color: #ccc;
}

footer a {
    color: #ccc;
}


.social-pet li {
    display: inline-block;
    margin-right: 0.5rem;


}

#footer-social-links {
    padding: 0rem;
}

.social-pet li a {
    height: 2.2rem;
    width: 2.3rem;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 2.2rem;
    background-color: #8e8e8f;
    color: #fff;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-pet li:nth-child(2) a {
    background-color: #8e8e8f;
}

.social-pet li:nth-child(3) a {
    background-color: #8e8e8f;
}

.social-pet li:nth-child(4) a {
    background-color: #8e8e8f;
}

.social-pet li a:hover {
    background-color: #bf051e;

}

.btn-footer {
    background-color: #8e8e8f;
}

.btn-footer:hover {
    background-color: #bf051e;
    border-color: #bf051e;
}

.social-pet li a:hover i {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.f-address li {
    display: inline-block;
}

.f-address li i {
    font-size: 1.1rem;
}

/* added to fix internet explorer issue with bootstrap flex on col class */

.internet-explorer-fix {
    flex: none;
    -ms-flex: none;
}

/* end of internet explorer fix */

.f-address li a {
    color: #ccc;
}

/* copyright */

.copyright {
    background-color: #111;
    padding: 0.75rem 0;
    font-size: 1.1rem;
}

/* end copyright  */

/* end footer */

/* media queries */

/* for ipads */

@media(min-width:567px) and (max-width:991px) {

    /* navbar */

    .gym-logo {
        margin-left: 0.5rem;
        height: 5rem;
    }

    .nav-heading {
        font-size: 3rem;
    }

    .navbar-toggler {
        margin-right: 2.25rem;
    }

    /* callout section */

    .special-img-one {
        margin-left: 0.6rem;
    }

    .jumbotron-gymname {
        font-size: 8rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* about section */

    .main-header {
        font-size: 8rem;
    }

    .about {
        font-size: 4rem;
    }

    .about-text {
        font-size: 1.2rem;
    }


    .about-sub-header-two {
        font-size: 4.5rem;
    }

    .about-sub-header-three {
        font-size: 3.5rem;
    }

    /* pricing section */

    .pricing-header {
        font-size: 5rem;

    }

    /* team section */

    .main-header-team-section {
        font-size: 9rem;
    }

    /* gym section */

    .our-gym-header {
        border: 1rem solid #bf051e;
        font-size: 9rem;
    }

    .gym-section-subheader {
        font-size: 7rem;
    }



    /* customer testimonials  section */

    .test-section-customer-quotes {
        margin-top: 6rem;
    }

}

/* end for ipad */

/* for ipad pro */

@media(min-width: 992px) and (max-width:1180px) {

    /* navbar */

    .gym-logo {
        margin-left: 0.5rem;
        height: 5rem;
    }

    .nav-heading {
        font-size: 2rem;
    }

    /* callout section */

    .special-img-one {
        margin-left: 2.5rem;
    }

    .jumbotron-gymname {
        font-size: 10rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* about section */

    .main-header-about-section {
        font-size: 11rem;
    }

    .about-text {
        font-size: 1.7rem;
    }


    .sub-header {
        font-size: 6.5rem;
    }

    .about-sub-header-two {
        font-size: 6rem;
    }


    .about-sub-header-three {
        font-size: 4rem;
    }

    .about-text {
        margin-top: 1.1rem;
    }

    /* pricing section */

    .pricing-header {
        font-size: 6rem;

    }

    #last-list-item-second-priceplan {
        margin-bottom: 3.9rem;
    }

    #last-list-item-third-priceplan {
        margin-bottom: 2.3rem;
    }

    /* team section */

    .main-header-team-section {
        font-size: 12.5rem;
    }

    /* gym section */

    .our-gym-header {
        border: 1rem solid #bf051e;
        font-size: 13rem;
    }

    .gym-section-subheader {
        font-size: 10rem;

    }


    /* customer testimonials section */

    .test-section-customer-quotes {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 6rem;
    }

}

/* end for ipad pro */

/* /* for laptops */


@media(min-width: 1200px) {

    /*  navbar section  */

    .gym-logo {
        height: 6rem;
        width: auto;
    }

    .navbar h2 {
        letter-spacing: 2px;
        font-size: 3.3rem;
    }


    .navbar-nav {
        margin-left: 6.5rem;
    }

    .navbar-nav .nav-item {
        margin: 0rem 0.625rem;

    }

    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 10rem;
    }

    /* end navbar section */

    /* callout section */

    .jumbotron {
        margin-top: 2rem;
    }

    .jumbotron-gymname {
        font-size: 4.5rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* end callout section */

    /* about section */


    .main-header-about-section {
        margin-top: 2.2rem;
        font-size: 15rem;
    }

    .about-text {
        font-size: 2rem;
    }


    .about-sub-header-one {
        font-size: 8rem;

    }

    .about-sub-header-two {
        font-size: 7rem;
        margin-top: -10rem;
    }

    .about-sub-header-three {
        font-size: 5rem;
        margin-top: -11rem;

    }

    /* end about section */



    /* pricing section */

    .pricing-header {
        font-size: 7.5rem;

    }

    #last-list-item-second-priceplan {
        margin-bottom: 3.9rem;
    }

    #last-list-item-third-priceplan {
        margin-bottom: 2.3rem;
    }

    /* end pricing section */


    /* team section */

    .main-header-team-section {
        font-size: 13rem;
    }

    .frontside .card .card-title,
    .backside .card .card-title {
        font-size: 1.9rem;
    }

    /* end team section */

    /* gym section */

    .our-gym-header {
        border: 16px solid #bf051e;
        font-size: 17rem;
    }

    .gym-section-subheader {
        font-size: 11rem;

    }

    /* end gym section */

    /* customer testimonials section */

    .test-section-customer-quotes {
        margin-top: 7rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

/* end for laptops */

/* for large desktop */

@media(min-width:1400px) {

    .gym-logo {
        height: 10rem;
        width: auto;
    }

    .navbar h2 {
        letter-spacing: 2px;
        font-size: 5.3rem;
    }


    .navbar-nav {
        margin-left: 10rem;
    }

    .navbar-nav .nav-item {
        margin: 0rem 1.1rem;

    }

    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 10rem;
    }

    .jumbotron-gymname {
        font-size: 6.9rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

}


/* adding larger  background image for laptop and destop */

@media(min-width: 1024px) {

    .callout-section-img-wrapper {
        height: 100%;
        width: 100%;
    }

    .callout-container {

        height: 100vh;
        background: url('../images/background-image-milestomeproject-2.jpg') no-repeat fixed;
        background-position-x: 50%;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        display: flexbox;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }
}