@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap: 100,200,300,400,500,600,700,800,900');

/*-----------------------------------Colors-------------------------*/
.bg-navbar-color {
    background-color:rgba(10, 10, 10, 0.849);
}

/*-------------------------------Reusable Components----------------*/

.fitness-color {
    color: #e20714;
}

.uppercase {
    text-transform: uppercase;
}

p {
    font-family: 'Barlow', sans-serif;
    line-height: 1.7rem;

}

.hr-style {
    border-top: 2px solid #e20714;
    width: 100px;
}

/*-----------------------Navbar---------------------------------------*/
.navbar-toggler {
    margin-right: 20px;
}

.navbar-nav {
    margin-bottom: 3px;
}

.navbar-nav .nav-item {
    margin: 0px 8px;
}

.navbar-expand-lg,
.container-fluid {
    padding: 0;
    border: 0;
}

.gym-logo {
    height: 50px;
    width: auto;
}

.nav-heading  {

    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    color: #f2f2f2;
    font-weight: 500;
    text-transform: uppercase;

}


.btn-cta,
.navbar .navbar-nav .nav-link {
    margin-right: 4px;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.btn-cta,

.navbar .navbar-nav .nav-link:link,
.navbar .navbar-nav .nav-link:visited,
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:active {
    color:  #f2f2f2;
    border-color:  #f2f2f2;

}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
    color: #e20714;
    border-color: #e20714;
    text-decoration: underline;
    font-style: italic;

}

 .span .nav-bar .toggler-icon:active{
    border-color: white;
}

/*------------------------callout section--------------------------*/

.callout-container {

    height: 100vh;
    background: url('../Images/background-image-milestomeproject.jpg') no-repeat fixed;
    background-position-x: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbotron{

}

.jumbotron-gymname {
    color: #e1e1e1;
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: 100px 0px 40px;
    font-weight: 900;
}

.jumbotron-quote {
    color: #fff;
    font-style: italic;
    font-weight: 700;
    margin: 30px;
    
}

.jumbotron {
    background-color: transparent;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.offer-text {
    color:#22f292ba;
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 30px;
}

img{
    height:50%;
    width: 70%;
}

/*-----------------------------------About section-------------------------*/
.about-header {
    color: #222222;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.about-img-div {
    text-align: center;
}

.about-img {
    height: 60%;
    width: 80%;
    margin-top: 30px;

}

.first-about-img {}

.second-about-img {}

.about-text {
    line-height: 2em;
    font-weight: 600;
}

.about-section-head-paragraph{
    margin-top: -40px;
}

/*-----------------------------------buttons-------------------------*/
.btn-cta {
    padding: 3px 12px 3px 12px;
    background-color: #e20714;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    border: 2px solid #222222;
}

.btn-callout {

    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}

.btn-modal {
    margin-top: 7px;
}

#navbar-btn {
    margin-top: 3px;
}

/*----------------------Modal Contact Form-------------------------*/
.error {
    color: #e20714;
}

/*------------------------------------------Media Quries-----------*/

/*--To make navbar responsive  on large deviecs and above---------------*/
@media(min-width:767px) {
    .gym-logo {
        height: 80px;
        width: auto;
    }

    .navbar h2 {
        letter-spacing: 2px;
        font-size: 2.5rem;
    }
}

/*------------for desktop-------------------------------------------*/
@media(min-width:1025px) {
    .navbar-nav {
        margin-left: 100px;
    }

    .navbar-nav .nav-item {
        margin: 0px 10px;

    }
}

/*--------------Target Navbar items when in toggle---------------------*/
@media(max-width:991px) {
    .navbar .btn-cta {
        padding: 10px;
    }

    .navbar-nav .nav-link {
        text-align: center;
    }
}

/*--------------Target on ipad pro an above---------------------*/

@media(min-width:768px){
    .about-img {
        height: 50%;
        width: 70%;
        margin-top: 12rem;
    }
  
    .jumbotron-gymname{
        font-size: 3rem;
        
    }

    .jumbotron-quote{
        letter-spacing: 1px;
    }
}