

/* for ipads */

@media(min-width:567px) and (max-width:991px) {

    /* navbar */

    .nav-heading {
        font-size: 3rem;
    }

    /* callout section */

    .jumbotron-gymname {
        font-size: 8rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* about section */

    .about-header {
        font-size: 100px;
    }

    .about-text {
        font-size: 1.2rem;
    }

    .sub-header {
        font-size: 80px;
    }

    .about-sub-header-two {
        font-size: 75px
    }

    .about-sub-header-three {
        font-size: 60px;
    }

    /* pricing section */

    .pricing-header {
        font-size: 70px;

    }

    /* team section */

    .main-header-team-section {
        font-size: 130px;
    }

    /* gym section */

    .our-gym-header {
        border: 16px solid #bf051e;
        font-size: 140px;
    }

    .sub-header-one-gym-section {
        font-size: 120px;


    }

    .sub-header-two-gym-section {
        font-size: 130px;


    }

    .sub-header-three-gym-section {
        font-size: 130px;

    }

    /* customer testimonials  section */

    .test-section-customer-quotes {
        margin-top: 6rem;
    }

}

/* end for ipad */

/* for ipad pro */

@media(min-width: 992px) and (max-width:1180px) {

    /* navbar */

    .nav-heading {
        font-size: 2.5rem;
    }

    /* callout section */

    .jumbotron-gymname {
        font-size: 10rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* about section */


    .about-header {
        font-size: 130px;
    }

    .about-text {
        font-size: 1.7rem;
    }


    .sub-header {
        font-size: 100px;
    }


    .about-sub-header-three {
        font-size: 80px;
    }

    .about-text {
        margin-top: 20px;
    }

    /* pricing section */

    .pricing-header {
        font-size: 100px;

    }

    #last-list-item-second-priceplan {
        margin-bottom: 40px;
    }

    /* team section */

    .main-header-team-section {
        font-size: 200px;
    }

    /* gym section */

    .our-gym-header {
        border: 16px solid #bf051e;
        font-size: 170px;
    }

    .sub-header-one-gym-section {
        font-size: 150px;


    }

    .sub-header-two-gym-section {
        font-size: 150px;

    }

    .sub-header-three-gym-section {
        font-size: 170px;

    }

    /* customer testimonials section */

    .test-section-customer-quotes {
        font-size: 25px;
        line-height: 2.5rem;
        margin-top: 6rem;
    }

}

/* end for ipad pro */

/* /* for laptops */


@media(min-width: 1200px) { 

    /*  navbar section  */

    .gym-logo {
        height: 100px;
        width: auto;
    }

    .navbar h2 {
        letter-spacing: 2px;
        font-size: 3.3rem;
    }


    .navbar-nav {
        margin-left: 100px;
    }

    .navbar-nav .nav-item {
        margin: 0px 10px;

    }

    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 160px;
    }

    .jumbotron-gymname {
        font-size: 4.9rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

   /* about section */


    .about-header {
        margin-top: 40px;
        font-size: 260px;
    }

    .about-text {
        font-size: 2rem;
    }


    .sub-header {
        font-size: 140px;

    }

    .about-sub-header-two {
        font-size: 125px;
        margin-top: -10rem;
    }

    .about-sub-header-three {
        font-size: 95px;
        margin-top: -11rem;

    }

    /* pricing section */

    .pricing-header {
        font-size: 120px;

    }

    #last-list-item-second-priceplan {
        margin-bottom: 84px;
    }

    #last-list-item-third-priceplan {
        margin-bottom: 57px;
    }

    /* team section */

    .main-header-team-section {
        font-size: 200px;
    }

    .frontside .card .card-title,
    .backside .card .card-title {
        font-size: 30px;
    }

    .our-gym-header {
        border: 16px solid #bf051e;
        font-size: 200px;
    }

    .sub-header-one-gym-section {
        font-size: 180px;


    }

    .sub-header-two-gym-section {
        font-size: 200px;

    }

    .sub-header-three-gym-section {
        font-size: 230px;
    }

    /* customer testimonials section */

    .test-section-customer-quotes {
        margin-top: 7rem;
        font-size: 25px;
        line-height: 2.5rem;
    }
}

/* end for laptops */

/* for large desktop */

@media(min-width:1400px){

    .gym-logo {
        height: 150px;
        width: auto;
    }

    .navbar h2 {
        letter-spacing: 2px;
        font-size: 5.3rem;
    }


    .navbar-nav {
        margin-left: 150px;
    }

    .navbar-nav .nav-item {
        margin: 0px 20px;

    }

    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 160px;
    }

    .jumbotron-gymname {
        font-size: 6.9rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

}