/* for ipads */

@media(min-width:567px) and (max-width:991px) {

    /* navbar */

    .gym-logo {
        margin-left: 0.5rem;
        height: 5rem;
    }

    .nav-heading {
        font-size: 3rem;
    }

    /* callout section */

    .jumbotron-gymname {
        font-size: 8rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* about section */

    .about-header {
        font-size: 8rem;
    }

    .about-text {
        font-size: 1.2rem;
    }

    .sub-header {
        font-size: 5rem;
    }

    .about-sub-header-two {
        font-size: 4.5rem;
    }

    .about-sub-header-three {
        font-size: 3.5rem;
    }

    /* pricing section */

    .pricing-header {
        font-size: 5rem;

    }

    /* team section */

    .main-header-team-section {
        font-size: 9rem;
    }

    /* gym section */

    .our-gym-header {
        border: 1rem solid #bf051e;
        font-size: 9rem;
    }

    .sub-header-one-gym-section {
        font-size: 7rem;


    }

    .sub-header-two-gym-section {
        font-size: 7rem;


    }

    .sub-header-three-gym-section {
        font-size: 7rem;

    }

    /* customer testimonials  section */

    .test-section-customer-quotes {
        margin-top: 6rem;
    }

}

/* end for ipad */

/* for ipad pro */

@media(min-width: 992px) and (max-width:1180px) {

    /* navbar */

    .gym-logo {
        margin-left: 0.5rem;
        height: 5rem;
    }

    .nav-heading {
        font-size: 2.5rem;
    }

    /* callout section */

    .jumbotron-gymname {
        font-size: 10rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* about section */


    .about-header {
        font-size: 11rem;
    }

    .about-text {
        font-size: 1.7rem;
    }


    .sub-header {
        font-size: 6.5rem;
    }

    .about-sub-header-two{
        font-size: 6rem;
    }


    .about-sub-header-three {
        font-size: 4rem;
    }

    .about-text {
        margin-top: 1.1rem;
    }

    /* pricing section */

    .pricing-header {
        font-size: 6rem;

    }

    #last-list-item-second-priceplan {
        margin-bottom: 2.2rem;
    }

    /* team section */

    .main-header-team-section {
        font-size: 12.5rem;
    }

    /* gym section */

    .our-gym-header {
        border: 1rem solid #bf051e;
        font-size: 13rem;
    }

    .sub-header-one-gym-section {
        font-size: 10rem;


    }

    .sub-header-two-gym-section {
        font-size:10rem;

    }

    .sub-header-three-gym-section {
        font-size: 11rem;

    }

    /* customer testimonials section */

    .test-section-customer-quotes {
        font-size:2rem;
        line-height: 2.5rem;
        margin-top: 6rem;
    }

}

/* end for ipad pro */

/* /* for laptops */


@media(min-width: 1200px) {

    /*  navbar section  */

    .gym-logo {
        height:6rem;
        width: auto;
    }

    .navbar h2 {
        letter-spacing: 2px;
        font-size: 3.3rem;
    }


    .navbar-nav {
        margin-left: 6.5rem;
    }

    .navbar-nav .nav-item {
        margin: 0rem 0.625rem;

    }

    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 10rem;
    }

    /* end navbar section */

    /* callout section */

    .jumbotron {
        margin-top: 6rem;
    }

    .jumbotron-gymname {
        font-size: 4.5rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

    /* end callout section */

    /* about section */


    .about-header {
        margin-top:2.2rem;
        font-size: 15rem;
    }

    .about-text {
        font-size: 2rem;
    }


    .sub-header {
        font-size: 8rem;

    }

    .about-sub-header-two {
        font-size: 7rem;
        margin-top: -10rem;
    }

    .about-sub-header-three {
        font-size: 5rem;
        margin-top: -11rem;

    }

    /* pricing section */

    .pricing-header {
        font-size: 7.5rem;

    }

    #last-list-item-second-priceplan {
        margin-bottom: 5.33rem;
    }

    #last-list-item-third-priceplan {
        margin-bottom: 3.70rem;
    }

    /* team section */

    .main-header-team-section {
        font-size: 13rem;
    }

    .frontside .card .card-title,
    .backside .card .card-title {
        font-size: 1.9rem;
    }

    .our-gym-header {
        border: 16px solid #bf051e;
        font-size: 17rem;
    }

    .sub-header-one-gym-section {
        font-size: 12rem;


    }

    .sub-header-two-gym-section {
        font-size:12rem;

    }

    .sub-header-three-gym-section {
        font-size: 12rem;
    }

    /* customer testimonials section */

    .test-section-customer-quotes {
        margin-top: 7rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

/* end for laptops */

/* for large desktop */

@media(min-width:1400px) {

    .gym-logo {
        height:10rem;
        width: auto;
    }

    .navbar h2 {
        letter-spacing: 2px;
        font-size: 5.3rem;
    }


    .navbar-nav {
        margin-left: 10rem;
    }

    .navbar-nav .nav-item {
        margin: 0rem 1.1rem;

    }

    .special-img-one {
        margin-left: 7rem;
    }

    .offer-img {
        margin-top: 10rem;
    }

    .jumbotron-gymname {
        font-size: 6.9rem;

    }

    .jumbotron-quote {
        letter-spacing: 1px;
    }

}

/* adding smaller background images for mobile and ipads */
@media(max-width: 1024px){
   
    .callout-container {

        height: 100vh;
        background: url('./Images/background-image-mobile.jpg') no-repeat fixed;
        background-position-x: 50%;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        display: flexbox;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
    }
}

@media(max-width:450px){
    .team-section {
        background: url('./Images/Smaller-background-img-mobile.jpg') no-repeat fixed;
        background-position-x: 50%;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    
    }
}